<div class="main container">
  <h2>Viewing Writer: {{writer.name}}</h2>
  {{!-- <a href="/writers/{{writer._id}}/edit">Edit Writer</a> --}}

  <div class="page-data">
    <table>
      <tr>
          <th>Song Name</th>
          <th>Publisher</th>
      </tr>
    {{#each song}}
      <tr>
            <td>{{name}}</td>
            <td>{{publisher.name}}</td>
      </tr>
    {{/each}}
    </table>
  </div>

  <a href="/writers">Back to Main</a>

  <form method="POST" action="/writers/{{writer._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>
</div>