<div class="main container">
  <form method="POST" action="/songs/{{song._id}}?_method=PUT">

    <h2 class="form-header">
      Edit Song
    </h2>

    <div class="page-data">
      <div class="form-group">
        <label for="song">Song Name:</label>
        <input type="text" class="form-control" id="song"  name="name" value="{{song.name}}">
      </div>

      <div class="form-group">
        <label for="writer">Writer:</label>
        <select class="form-control" id="writer" name="writer" data-selected="{{song.writer._id}}">
          {{#each writers}}
            <option value="{{_id}}">
                {{name}}
            </option>
          {{/each}}
        </select>
        <small>Don't see your writer? Click <a href="/writers/new">HERE</a> to create a new Writer Listing</small>
      </div>

      <div class="form-group">
        <label for="publisher">Publisher:</label>
        <select class="form-control" id="publisher" name="publisher" data-selected="{{song.publisher._id}}">
          {{#each publishers}}
            <option value="{{_id}}">
                {{name}}
            </option>
          {{/each}}
        </select>
        <small>Don't see your publisher? Click <a href="/publishers/new">HERE</a> to create a new publisher Listing</small>
      </div>

      <div class="buttons">
        <div class="form-group">
          <input type="submit" value="Update Song" />
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  const publisher = document.getElementById('publisher')
  const publisherId = publisher.dataset.selected
  const publisherOptions = document.querySelectorAll('#publisher option')

  publisherOptions.forEach((option) => {
    if(publisherId === option.value) {
      option.setAttribute('selected', true)
    }
  })

  const writer = document.getElementById('writer')
  const writerId = writer.dataset.selected
  const writerOptions = document.querySelectorAll('#writer option')

  writerOptions.forEach((option) => {
    if(writerId === option.value) {
      option.setAttribute('selected', true)
    }
  })

</script>