<div class="main container">
  <h2>Viewing {{song.name}}</h2>
  <div >
    <div>
        Writer: {{song.writer.name}}
    </div>
    <div>
        Publisher: {{song.publisher.name}}
    </div>

    <a href="/songs/{{song._id}}/edit">Edit Song</a>

    <form method="POST" action="/songs/{{song._id}}?_method=DELETE">
      <input type="submit" value="Delete" />
    </form>
  </div>
</div>