<div class="main container">
        <h2>Viewing All Songs</h2>
        <a href="songs/new">List a New Song</a>

    <div>
        <table style="width:100%">
            <tr>
                <th class="song">Song Name</th>
                <th class="writer">Writer</th> 
                <th class="publisher">Publisher</th>
                <th class="id">Listing ID</th>
            </tr>
        {{#each songs}}
            <tr>
                <td><a href="/songs/{{_id}}">{{name}}</a></td>
                <td>{{writer.name}}</td>
                <td>{{publisher.name}}</td>
                <td>{{_id}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>